nav.navbar.navbar-default(role="navigation", ng-controller='NavTabsCtrl')
    .container-fluid
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                a.navbar-brand Tabs:
                li(ng-repeat='tab in tabs')
                    a
                        span {{tab.title}}
                        span.close-btn(ng-click='remove(tab._id)') x
            form.navbar-form.navbar-left(name='tabForm')
                .form-group
                    input.form-control(type="text", placeholder="Enter the tab name", ng-required='', ng-model='title')
                button.btn.btn-default(type="submit", ng-click='save(title)') +