nav.navbar.navbar-default(role="navigation")
    .container-fluid
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                a.navbar-brand Tabs:
            form.navbar-form.navbar-left(role="search")
                .form-group
                    input.form-control(type="text", placeholder="Filter tabs by name")
                button.btn.btn-default(type="submit") +