.row
    .col-md-4
        form(name='tabForm')
            .row
                .col-md-4
                    label Tab title:
                .col-md-8
                    input.form-control(ng-model='tab.title', type='text', ng-required='')

            .row.top-buffer
                .col-md-4
                    label Website URL:
                .col-md-8
                    input.form-control(ng-model='tab.url', type='text', ng-required='', placeholder='http://example.com')

            .row.top-buffer
                .col-md-4
                    label Regexp to search:
                .col-md-8
                    input.form-control(ng-model='tab.regex', type='text', ng-required='', placeholder='^example$')

            .row.top-buffer
                .col-md-4
                .col-md-4
                    button.btn.btn-success.btn-block(type='button', ng-click='search(tab)') Search
                .col-md-4


    .col-md-8(ng-show='tab.results.length > 0')
        h2.text-center(style='margin: 0') Search results
        hr
        table.table.table-striped.table-bordered.table-hover
            thead
                tr
                    th #
                    th Text
                    th Value
                    th Position
            tbody
                tr(ng-repeat='res in tab.results | perPage:page')
                    td {{$index + 1}}
                    td
                        span {{res.text}}
                    td
                        span {{res.value}}
                    td
                        span {{res.index}}
        ul.pagination
            li
                a(ng-click='page = page - 1', ng-show='page > 0') «
              li(ng-repeat='pg in pages', ng-class='{active: page == pg}')
                a(ng-click='setPage(pg)') {{pg + 1}}
              li
                a(ng-click='page = page + 1', ng-show='page < pages.length - 1') »
