doctype
html(ng-app='spaApp')
    head
        title(ng-bind='title')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='css/app.css')

    body
        include views/navbar
        .container.content(ui-view, autoscroll="false")
        script(src='js/app.js', async='')